$colors-list: (
        #1f77b4,
        #aec7e8,
        #ff7f0e,
        #ffbb78,
        #2ca02c,
        #98df8a,
        #d62728,
        #ff9896,
        #9467bd,
        #c5b0d5,
        #8c564b,
        #c49c94,
        #e377c2,
        #f7b6d2,
        #7f7f7f,
        #c7c7c7,
        #bcbd22,
        #dbdb8d,
        #17becf,
        #9edae5);

$info-color: (
        #00acc1,
        #26c6da,
        #00acc1,
        #00d3ee
);

$purple_color: #4D394B;
$grey-color: #757575;
$black-color: #000000;
$white-color: #FFFFFF;