@import "./colors";

@mixin boxBorder($radius) {
  border: 1px solid #e6e6e6;
  background-color: white;
  @if $radius == yes {
    border-radius: 3px;
  }
}

@mixin assignColors($backColor) {
  @each $color in $colors-list {
    $i: index($colors-list, $color);
    &.color-#{$i} {
      @if $backColor == yes {
        background-color: $color;
      } @else {
        color: $color;
      }
    }
  }
}

@mixin diode() {
  width: 8px;
  height: 8px;
  margin: 4px 8px 0 0;
  background-color: #555;
  border-radius: 4px;
  float: left;
}