@mixin boxBorder($radius) {
  border: 1px solid #e6e6e6;
  background-color: white;
  @if $radius == yes {
    border-radius: 3px;
}
}

@mixin blueButton() {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $light-blue;
  color: white;
  font-weight: 600;
  border: 0;
  font-size: $normal-font-size;
  line-height: 26px;
  cursor: pointer;
  width: 100%;
  &:focus,
  &:active {
    outline: none;
}
  &:active {
    opacity: 0.9;
}
}