@import "../../style_config/mixin";

.item {
  color: #aaa;
  font-size: 12px;
  border-top: 1px solid #111;
  background-color: #222;
  padding: 6px 10px;
  position: relative;

  .item_name {
    width: 195px;
    overflow: hidden;
  }

  .diode {
    @include diode();
    @include assignColors(yes)
  }

  .screen_buttons {
    position: absolute;
    top: 6px;
    right: 5px;
    input {
      margin-left: 3px;
    }
  }
}
