@import "../../style_config/colors";
@import "../../style_config/mixin";

.header {

  position: relative;
  padding: 6px 10px;
  font-size: 12px;
  background-color: #000;
  border-top: 1px solid #333;
  color: #eee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111111), to(#000000));
  background-image: -webkit-linear-gradient(top, #111111, #000000);
  background-image: -moz-linear-gradient(top, #111111, #000000);
  background-image: -ms-linear-gradient(top, #111111, #000000);
  background-image: -o-linear-gradient(top, #111111, #000000);
  .object_name {
    width: 195px;
    overflow: hidden;
    float: left;
  }

  .diode {
    @include diode();
    @include assignColors(yes)
  }

  .screen_buttons {
    position: absolute;
    top: 6px;
    right: 5px;
    input {
      margin-left: 3px;
    }
  }
}
